@use "../../scss/" as *;

@keyframes floating {
  from {
    bottom: 0;
  }

  to {
    bottom: 40px;
  }
}

.hero {
  margin-top: 50px;
  position: relative;

  // @include mobilssm{
  //   margin-top: 200px;
  // }

 
  &__content {
    @include flex(flex-start, center);
    flex-flow: column;
    height: 100%;

    &__info {
      width: 45%;
      padding-right: 30px;

      @include tablet {
        width: 50%;
      }

      .title {
        font-size: 3rem;
        color: $main-color;
        font-weight: bold;
        @include tablet {
          font-size: 2rem;
        }
      }

      .description {
        span {
          font-size: 2rem;
        }
        p {
          font-size: 15px;
        }
      }
      
      @include mobile {
        width: 100%;

        .description {
          span {
            font-size: 1.2rem;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }

    .price {
      margin-top: 20px;
      font-size: 1.7rem;
      color: rgb(0, 199, 0);
      font-weight: bold;
      span {
        color: red;
        text-decoration: line-through;
        margin-right: 10px;
        font-weight: normal;
        font-size: 1.2rem;
      }

      @include mobile {
      }
    }
  }

  .floating-arielle {
    position: absolute;
    top: 50px;
    right: 420px;
    @include mobile{
        display: none;
    }

    img {
      height: 300px;
      position: relative;
      animation: floating 1.7s alternate infinite;

      @include tablet {
        height: 200px;
        right: -450px;
      }
    }
  }
}
