@use "../../scss/" as *;

.header {
  height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  @include mobile{
    @include flex(center, center);
  }
  @include mobilssm2{

  }

  &__wrapper {
    @include flex(center, space-between);
    position: relative;

    .logo {
      align-self: flex-start;
      @include flex(center, center);
      margin-top: 20px;
      height: 80px;
      width: 80px;
      padding: 20px;
      border-radius: 50%;
      background-color: $white;
      img {
        width: 50px;
      }
      margin-right: 10px;
      @include mobilssm2{
        position: absolute;
        margin-top: 200px;
        top: -130px;
        left: 170px;
      }
    }

    @include mobile{
      @include flex(center, center);
      padding-left: 80px;
      
      .logo{
        height: 60px;
        width: 60px;
        margin-right: 20px;
        position: absolute;
          margin-top: 200px;
          top: -130px;
          left: 110px;
      }
    }

    
  }
}
